body{
    background-color: rgb(235, 195, 143);
    text-align: justify;
}
#columns{
    column-count: 3;
    column-gap: 40px;
    column-rule-style: groove;
    column-rule-color: red;
}
main>h1{
    color: red;
}
main>h1:hover{color:blue}
p:active{
    background-color: aqua;
    color: orange;
}
#hello{
    width: 700px;
    height: 75px;
    background-color: greenyellow;
    padding: 12.5px 50px 50px 75px;
    --padding: 10px;
    padding:var(--padding);
    box-shadow:inset 0 0 0 var(--padding) rebeccapurple;
    margin:10px;
    border-top-color: blueviolet;
    border-top-width: medium;
    border-top-style: dotted;
    border-bottom-color:red;
    border-bottom-width:thick;
    border-bottom-style:solid;
    border-right-color: yellow;
    border-right-width:20px;
    border-right-style: dashed;
    border-left-color:brown;
    border-left-width: thin;
    border-left-style:groove;
}
/* estilos de border: 
dotted- Define un borde punteado
• dashed- Define un borde discontinuo
• solid- Define un borde sólido
• double- Define un borde doble
• groove- Define un borde ranurado 3D. El efecto depende del valor del color del borde.
• ridge- Define un borde estriado 3D. El efecto depende del valor del color del borde.
• inset- Define un borde de inserción 3D. El efecto depende del valor del color del borde.
• outset- Define un borde inicial 3D. El efecto depende del valor del color del borde.
• none- No define ningún borde
• hidden- Define un borde oculto
anchos de border:
▪ Medium: Nos permite especificar que el borde es medio. Esta opción es la de por defecto
▪ Thin: Nos permite especificar que el borde será delgado.
▪ Thick: Nos permite especificar que el borde será grueso.
▪ Length: Nos permite definir el grosor del borde
▪ Initial: Nos permite definir el valor predeterminado
▪ Inherit: Nos permite heredar el valor de dicha propiedad del valor de su elemento padre
*/
a{
    background-color: red;
    width:500px;
    height: 500px;
}
#ejerciciobordes{
    color: black;
    width: 300px;
    height:200px;
    /*Para condicionar las zonas del box box-sizing*/
    background-color: white;
    padding: 75px;
    margin:10px;
    border-top-color: green;
    border-top-width: 7px;
    border-top-style: dotted;
    border-bottom-color:red;
    border-bottom-width:thick;
    border-bottom-style:solid;
    border-right-color: blue;
    border-right-width:15px;
    border-right-style: dashed;
    border-left-color:black;
    border-left-width: 10px;
    border-left-style: double;
    margin-left:auto;
    margin-right:auto;
}
/*text-align para linear el texto
□ Left: Alinea el texto a la izquierda dentro de su box. Por defecto, se utiliza left para posicionar un texto.
□ Right: alinea el texto a la derecha
□ Center: centra el texto en medio de la caja
□ Justify: su funcionamiento es algo peculiar. Ya que estira el texto con la finalidad de que todas las líneas
tengan el mismo ancho. Es recomendable no utilizarla, ya que usualmente provoca que se generen
espacio que no son todos iguales entre las palabras.
□ inherit: hereda esta propiedad de su elemento padre/principal
□ Initial: establece la propiedad en su valor determinado.
*/
#ejerciciotextalign{
    margin-left:auto;
    margin-right:auto;
}
#left{text-align: left;}
#center{text-align: center;}
#right{text-align: right;}
.align{
    color: black;
    width: 300px;
    height:20px;
    /*Para condicionar las zonas del box box-sizing*/
    background-color: rgb(213, 213, 219);
    padding: 2px;
    margin:10px;
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
    border-radius: 3px/3px;
}
#radioscirculares{
    color: black;
    width: 400px;
    height: 300px;
    /*Para condicionar las zonas del box box-sizing*/
    background-color: rgb(213, 213, 219);
    margin-left:auto;
    margin-right:auto;
    box-sizing: auto;
}
table{
    color: black;
    width: 300px;
    height:20px;
    /*Para condicionar las zonas del box box-sizing*/
    background-color:  rgb(235, 195, 143);
    padding: 2px;
    margin:10px;
    border: 2px solid black;
    margin-left:auto;
    margin-right:auto;
    border-top-left-radius: 25px/25px;
    border-top-right-radius: 25px/25px;
}
#title-exercice,tfoot{
    background-color: rgb(0, 191, 255);

}
Bold{font-weight: bold;}
h2{
    text-align: center;
}
tbody>tr>td:nth-child(2n+1){
    color: black;
    text-align: center;
    /*Para condicionar las zonas del box box-sizing*/
    padding: 2px;
    margin:10px;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    margin-left:auto;
    margin-right:auto;
}
tr{
    width: 100px;
    height: 30px;
}